/* CSS HEX
--steel-blue: #4588baff;
--dark-liver: #483c46ff;
--english-violet: #6b4c6aff;
--light-green: #7bf1a8ff;
--onyx: #3f4045ff;     */

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

body {
  background-color: #f1f1f1;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  height: 450px
}

/* Set gray background color and 100% height */
/* .sidenav-left {
  padding-top: 10px;
  background-color: #f1f1f1;
  height: 100%;
  border: 3px solid black;
  margin: 1px 0 0 1px;
} */

/* Set gray background color and 100% height */
/* .sidenav-right {
  padding-top: 10px;
  background-color: #f1f1f1;
  height: 100%;
  border: 3px solid black;
  margin: 1px 1px 0 0px;
} */

h1 {
  color: #7bf1a8ff;
}

h2 {
  color: #4588baff;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }

  .row.content {
    height: auto;
  }
}

section {
  padding-bottom: 10px;
  border-bottom: 3px solid #483c46ff;
  margin-bottom: 10px;
  padding-top: 10px;
  border-top: 3px solid #3f4045ff;
  margin-top: 10px;
}

kdb {
  display: inline-block;
  margin: 0 .1em;
  padding: .1em .6em;
  font-family: var(--ff-sans);
  font-size: var(--fs-fine);
  line-height: var(--s-prose-line-height);
  color: var(--black-800);
  text-shadow: 0 1px 0 var(--white);
  background-color: var(--black-075);
  border: 1px solid var(--black-300);
  border-radius: var(--br-sm);
  box-shadow: 0 1px 1px hsla(210,8%,5%,0.15),inset 0 1px 0 0 hsl(0,0%,100%);
  overflow-wrap: break-word;
  white-space: nowrap;
}

.well {
  word-wrap: break-word;  
}

.fa-js,.fa-square-js {
  color : #323330;
  background: #F0DB4F;
}

.fa-chrome {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  /* attribution: https://stackoverflow.com/a/52582440; */
}

.fa-ubuntu{
  color: #dd4814;
}

.fa-html5 {
  color: #e34c26;
}

.fa-css3-alt {
  color: yellow;
}

/* .git-local-tggl{
display: none;
} */